.container {
    text-align: center;
    padding: 2rem;
    border: black solid 1px;
    margin: 1em;
}

.container:hover {
    border: solid darkorange 1px;
}

.title {
    height: 8rem;
}

.title>a {
    text-decoration: none;
    color: black;
}

.title>a>h1 {
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
}

.summary {
    height: 6rem;
}